<div class="card">
    <div class="card-header">
        <h2 class="card-title">CPU</h2>
        <div class="color-labels">
            <div class="color-label">
                <span class="color-box usage"></span>Usage
            </div>
        </div>
    </div>
    <div class="stat-container">
        <div class="chart-container">
            <canvas id="cpuChart"></canvas>
            <div id="cpuOverlay" class="chart-overlay">0%</div>
        </div>
    </div>
    <div class="detail-view" id="cpu-detail-view">
        <div class="graph-label">24hr CPU Usage</div>
        <canvas id="cpuDetailChart"></canvas>
    </div>
</div>
