<div class="card">
    <div class="card-header">
        <h2 class="card-title">Disk</h2>
        <div class="color-labels">
            <div class="color-label">
                <span class="color-box used"></span>Used
            </div>
            <div class="color-label">
                <span class="color-box free"></span>Free
            </div>
        </div>
    </div>
    <div class="stat-container">
        <div class="chart-container">
            <canvas id="diskChart"></canvas>
            <div id="diskOverlay" class="chart-overlay">0</div>
        </div>
    </div>
    <div class="detail-view" id="disk-detail-view">
        <div class="graph-label">7-Day Disk Used</div>
        <canvas id="diskHistoryChart"></canvas>
    </div>
</div>
